@import './abstracts.scss';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: var(--color-white);
}

body {
  box-sizing: border-box;
  max-width: 1305px;
  margin: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
