.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  transition: all 0.2s;

  &__img img {
    width: 50vh;
  }

  &__presentation {
    text-align: center;

    &--title {
      font-size: 4rem;
      font-weight: 700;
      color: $color-primary;

      @include respond-max(590px) {
        font-size: 3rem;
      }
      @include respond-max(430px) {
        font-size: 2rem;
      }
    }

    &--description {
      font-size: 2rem;
      @include respond-max(590px) {
        font-size: 1.8rem;
      }
      @include respond-max(430px) {
        font-size: 1.5rem;
      }
    }
  }
}
