.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
  z-index: 1000;
}
.navigation {
  display: flex;
  padding: 0.5rem 2rem;
  background-color: #e2e2e2;
  flex-wrap: wrap;
}
.navigation__nav--checkbox {
  display: none;
}
.navigation__nav--button {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  z-index: 2000;
  text-align: center;
  cursor: pointer;
  margin-left: auto;
  order: 2;
}
@media only screen and (min-width: 710px) {
  .navigation__nav--button {
    height: 0;
    display: none;
 }
}
.navigation__nav--icon {
  position: relative;
  margin-top: 1.5rem;
}
.navigation__nav--icon, .navigation__nav--icon::before, .navigation__nav--icon::after {
  width: 2.5rem;
  height: 2px;
  background-color: #23120b;
  display: inline-block;
}
.navigation__nav--icon::before, .navigation__nav--icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__nav--icon::before {
  top: -0.7rem;
}
.navigation__nav--icon::after {
  top: 0.7em;
}
.navigation__nav--button:hover .navigation__nav--icon::before {
  top: -0.9rem;
}
.navigation__nav--button:hover .navigation__nav--icon::after {
  top: 0.9rem;
}
.navigation__nav--checkbox:checked + .navigation__nav--button .navigation__nav--icon {
  background-color: transparent;
}
.navigation__nav--checkbox:checked + .navigation__nav--button .navigation__nav--icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation__nav--checkbox:checked + .navigation__nav--button .navigation__nav--icon::after {
  top: 0;
  transform: rotate(-135deg);
}
.navigation__nav--checkbox:checked ~ .navigation__nav-menu {
  display: flex;
  flex-direction: column;
  width: 100vw;
  font-size: 2rem;
}
.navigation__logo-link {
  align-self: center;
  justify-self: center;
  color: #19456b;
  font-size: 1.3rem;
  order: 1;
  transition: all 0.2s;
}
@media only screen and (max-width: 900px) {
  .navigation__logo-link {
    font-size: 1rem;
 }
}
.navigation__nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: 1rem;
  order: 3;
}
@media only screen and (max-width: 710px) {
  .navigation__nav-menu {
    display: none;
 }
}
.navigation__nav-menu--item {
  margin: 0 1rem;
}
.navigation__nav-menu--link {
  font-size: 1.8rem;
  transition: all 0.2s;
}
.navigation__nav-menu--link:visited, .navigation__nav-menu--link:link {
  color: #23120b;
}
@media only screen and (max-width: 900px) {
  .navigation__nav-menu--link {
    font-size: 1.6rem;
 }
}
.navigation__nav-menu--link:hover {
  color: #487e95;
}
