*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: #f4f5db; }

body {
  box-sizing: border-box; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

@font-face {
  font-family: 'Roboto';
  src: url("/assets/fonts/Roboto-Bold.eot");
  src: url("/assets/fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Roboto-Bold.woff2") format("woff2"), url("/assets/fonts/Roboto-Bold.woff") format("woff"), url("/assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Roboto';
  src: url("/assets/fonts/Roboto-Regular.eot");
  src: url("/assets/fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Roboto-Regular.woff2") format("woff2"), url("/assets/fonts/Roboto-Regular.woff") format("woff") url("/assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Roboto';
  src: url("/assets/fonts/Roboto-Medium.eot");
  src: url("/assets/fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Roboto-Medium.woff2") format("woff2"), url("/assets/fonts/Roboto-Medium.woff") format("woff"), url("/assets/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.7; }

.button {
  background-color: #19456b;
  color: #f4f5db;
  font-size: 2rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  margin-top: 3rem; }

.button:hover {
  background-color: #487e95;
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15); }

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  transition: all 0.2s; }
  .home__img img {
    width: 50vh; }
  .home__presentation {
    text-align: center; }
    .home__presentation--title {
      font-size: 4rem;
      font-weight: 700;
      color: #19456b; }
      @media only screen and (max-width: 590px) {
        .home__presentation--title {
          font-size: 3rem; } }
      @media only screen and (max-width: 430px) {
        .home__presentation--title {
          font-size: 2rem; } }
    .home__presentation--description {
      font-size: 2rem; }
      @media only screen and (max-width: 590px) {
        .home__presentation--description {
          font-size: 1.8rem; } }
      @media only screen and (max-width: 430px) {
        .home__presentation--description {
          font-size: 1.5rem; } }

.main {
  display: grid;
  margin-top: 7rem;
  column-gap: 3rem; }

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15); }

.navigation {
  display: flex;
  padding: 0.5rem 2rem;
  background-color: #eeeeee;
  flex-wrap: wrap; }
  .navigation__nav--checkbox {
    display: none; }
  .navigation__nav--button {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    z-index: 2000;
    text-align: center;
    cursor: pointer;
    margin-left: auto;
    order: 2; }
    @media only screen and (min-width: 710px) {
      .navigation__nav--button {
        height: 0;
        display: none; } }
  .navigation__nav--icon {
    position: relative;
    margin-top: 1.5rem; }
    .navigation__nav--icon, .navigation__nav--icon::before, .navigation__nav--icon::after {
      width: 2.5rem;
      height: 2px;
      background-color: #23120b;
      display: inline-block; }
    .navigation__nav--icon::before, .navigation__nav--icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s; }
    .navigation__nav--icon::before {
      top: -0.7rem; }
    .navigation__nav--icon::after {
      top: 0.7em; }
  .navigation__nav--button:hover .navigation__nav--icon::before {
    top: -0.9rem; }
  .navigation__nav--button:hover .navigation__nav--icon::after {
    top: 0.9rem; }
  .navigation__nav--checkbox:checked + .navigation__nav--button .navigation__nav--icon {
    background-color: transparent; }
  .navigation__nav--checkbox:checked + .navigation__nav--button .navigation__nav--icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__nav--checkbox:checked + .navigation__nav--button .navigation__nav--icon::after {
    top: 0;
    transform: rotate(-135deg); }
  .navigation__nav--checkbox:checked ~ .navigation__nav-menu {
    display: flex;
    flex-direction: column;
    width: 100vw;
    font-size: 2rem; }
  .navigation__logo-link {
    color: #19456b;
    font-size: 1.3rem;
    order: 1;
    transition: all 0.2s; }
    @media only screen and (max-width: 900px) {
      .navigation__logo-link {
        font-size: 1rem; } }
  .navigation__nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: 1rem;
    order: 3; }
    @media only screen and (max-width: 710px) {
      .navigation__nav-menu {
        display: none; } }
    .navigation__nav-menu--item {
      margin: 0 1rem; }
    .navigation__nav-menu--link {
      font-size: 1.8rem;
      transition: all 0.2s; }
      .navigation__nav-menu--link:visited, .navigation__nav-menu--link:link {
        color: #23120b; }
      @media only screen and (max-width: 900px) {
        .navigation__nav-menu--link {
          font-size: 1.6rem; } }
      .navigation__nav-menu--link:hover {
        color: #487e95; }
