*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: #eeeeee; }

body {
  box-sizing: border-box; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Bold.eot");
  src: url("/assets/fonts/Poppins-Bold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Poppins-Bold.woff2") format("woff2"), url("/assets/fonts/Poppins-Bold.woff") format("woff"), url("/assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Medium.eot");
  src: url("/assets/fonts/Poppins-Medium.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Poppins-Medium.woff2") format("woff2"), url("/assets/fonts/Poppins-Medium.woff") format("woff"), url("/assets/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Light.eot");
  src: url("/assets/fonts/Poppins-Light.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Poppins-Light.woff2") format("woff2"), url("/assets/fonts/Poppins-Light.woff") format("woff"), url("/assets/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Regular.eot");
  src: url("/assets/fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Poppins-Regular.woff2") format("woff2"), url("/assets/fonts/Poppins-Regular.woff") format("woff"), url("/assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 1.7; }

.about__container {
  display: grid;
  column-gap: 10rem;
  grid-template-columns: 10rem 1fr 1fr 10rem;
  grid-template-rows: 0.5fr 1.5fr;
  align-items: center; }
  @media only screen and (max-width: 1350px) {
    .about__container {
      column-gap: 5rem; } }
  @media only screen and (max-width: 1184px) {
    .about__container {
      grid-template-columns: 7rem 1fr 1fr 7rem; } }
  @media only screen and (max-width: 1046px) {
    .about__container {
      grid-template-columns: 0.5rem 1fr 1fr 0.5rem;
      column-gap: 2.5rem; } }
  @media only screen and (max-width: 900px) {
    .about__container {
      grid-template-columns: 1px 1fr 1px;
      grid-template-rows: auto auto 1fr;
      column-gap: 10px; } }

.about__data {
  text-align: right;
  grid-column: 2 / 3;
  justify-self: right; }
  @media only screen and (max-width: 900px) {
    .about__data {
      grid-row: 1 / 2; } }
  .about__data--description {
    font-size: 1.8rem; }
    @media only screen and (max-width: 900px) {
      .about__data--description {
        justify-self: center;
        text-align: center;
        margin-bottom: 2rem; } }
  .about__data--img {
    min-width: 25rem;
    max-width: 60rem;
    width: 40vw;
    border-radius: 3px;
    margin: 0 auto;
    grid-column: 2 /4;
    grid-row: 2 / 3; }
    @media only screen and (max-width: 900px) {
      .about__data--img {
        grid-row: 3 / 4;
        grid-column: 2 / 3; } }

.about__information {
  text-align: left;
  justify-self: left;
  font-size: 1.8rem; }
  @media only screen and (max-width: 1184px) {
    .about__information {
      font-size: 1.5rem; } }
  @media only screen and (max-width: 900px) {
    .about__information {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      text-align: center;
      justify-self: center; } }
  .about__information--icon {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 2rem; }
  .about__information--link {
    width: 2.5rem;
    height: 2.5rem;
    z-index: 10;
    background-color: transparent;
    cursor: pointer; }
  .about__information--data {
    display: flex;
    justify-content: start;
    align-items: center; }

.button {
  background-color: #19456b;
  color: #eeeeee;
  font-size: 2rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
  cursor: pointer;
  transition: all 0.3s;
  max-width: 25rem; }
  .button > a {
    color: #eeeeee; }
  .button:hover {
    background-color: #487e95;
    box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
    transform: scale(1.01) translateY(-1px); }

.contact {
  margin-bottom: 10rem; }
  .contact__container {
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto; }
  .contact__card {
    width: 330px;
    height: 440px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: #e4e4e4; }
    @media only screen and (max-width: 420px) {
      .contact__card {
        width: 270px;
        height: 350px; } }
    .contact__card > img {
      width: 30rem; }
      @media only screen and (max-width: 420px) {
        .contact__card > img {
          width: 190px; } }
    .contact__card > h3 {
      font-size: 2rem; }
    .contact__card > p {
      font-size: 1.5rem;
      margin-bottom: 0.5rem; }
    .contact__card--icon {
      width: 3rem;
      height: 3rem;
      padding-top: 1.1rem; }

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  transition: all 0.2s; }
  .home__img img {
    width: 50vh;
    max-width: 30rem; }
  .home__presentation {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .home__presentation--title {
      font-size: 4rem;
      font-weight: 700;
      color: #19456b; }
      @media only screen and (max-width: 590px) {
        .home__presentation--title {
          font-size: 3rem; } }
      @media only screen and (max-width: 430px) {
        .home__presentation--title {
          font-size: 2rem; } }
    .home__presentation--description {
      font-size: 2rem; }
      @media only screen and (max-width: 590px) {
        .home__presentation--description {
          font-size: 1.8rem; } }
      @media only screen and (max-width: 430px) {
        .home__presentation--description {
          font-size: 1.5rem; } }

.projects__container {
  display: grid;
  grid-template-columns: 10rem 1fr 10rem; }
  @media only screen and (max-width: 900px) {
    .projects__container {
      grid-template-columns: 3rem 1fr 3rem; } }

.projects__cards-container {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem 4rem; }
  @media only screen and (max-width: 900px) {
    .projects__cards-container {
      gap: 1rem 2rem; } }
  @media only screen and (max-width: 710px) {
    .projects__cards-container {
      grid-template-columns: 1fr; } }

.projects__card {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  margin-bottom: 1rem; }
  .projects__card--img {
    width: 100%;
    height: 100%; }
  .projects__card--link {
    display: inline-flex;
    font-size: 1.5rem;
    color: #19456b;
    border-radius: 0.25rem;
    padding: 0.25rem;
    margin-bottom: 2rem; }
  .projects__card--icon {
    width: 5rem;
    height: 5rem; }
  .projects__card--title {
    font-size: 1.8rem;
    color: #eeeeee; }
  .projects__card--data {
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 80, 134, 0.7);
    transition: 0.3s; }
  .projects__card:hover .projects__card--data {
    bottom: 0; }

.section {
  padding-top: 3rem;
  padding-bottom: 2rem; }
  .section__title {
    position: relative;
    font-size: 2.6rem;
    color: #19456b;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    text-align: center; }
    .section__title::after {
      position: absolute;
      content: "";
      width: 64px;
      height: 0.18rem;
      left: 0;
      right: 0;
      margin: auto;
      top: 4rem;
      background-color: #19456b; }
  .section__subtitle {
    display: block;
    font-size: 1.5rem;
    font-weight: 400;
    color: #487e95;
    text-align: center;
    font-weight: var(--font-bold);
    margin-top: 1rem;
    margin-bottom: 0.25rem; }

.skills__container {
  display: grid;
  grid-template-columns: 10rem 1fr 10rem;
  column-gap: 3rem;
  align-items: center; }
  @media only screen and (max-width: 850px) {
    .skills__container {
      grid-template-columns: 1px 1fr 1px;
      column-gap: 1rem; } }

.skills__category {
  grid-column: 2 / 3;
  display: grid;
  gap: 3rem 4rem;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 4rem;
  transition: all 0.2s; }
  @media only screen and (max-width: 850px) {
    .skills__category {
      grid-template-columns: 1fr;
      gap: 3rem 0; } }
  .skills__category--title {
    grid-column: 1 / 3;
    font-size: 1.8rem;
    text-transform: uppercase; }
    @media only screen and (max-width: 850px) {
      .skills__category--title {
        grid-column: 1 / 2; } }

.skills__data {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #e2e2e2;
  box-shadow: 0 1rem 1rem rgba(14, 36, 49, 0.15);
  border-radius: 15px; }
  .skills__data--icon {
    width: 5rem;
    height: 5rem;
    padding: 1rem;
    margin-bottom: 0.5rem; }
  .skills__data--name {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.3rem; }
  .skills__data--percentage {
    font-weight: 700;
    font-size: 1.3rem;
    margin-left: auto;
    margin-right: 2rem; }
  .skills__data--bar {
    position: absolute;
    left: 1rem;
    bottom: 0;
    background-color: #19456b;
    height: 0.3rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem; }

.bar-html {
  width: 95%; }

.bar-css {
  width: 95%; }

.bar-js {
  width: 95%; }

.bar-angular {
  width: 90%; }

.bar-react {
  width: 70%; }

.bar-vue {
  width: 50%; }

.bar-csharp {
  width: 95%; }

.bar-python {
  width: 95%; }

.bar-java {
  width: 80%; }

.bar-php {
  width: 40%; }

.bar-nodejs {
  width: 70%; }

.bar-asp {
  width: 90%; }

.bar-django {
  width: 60%; }

.bar-laravel {
  width: 10%; }

.bar-sqlserver {
  width: 85%; }

.bar-mysql {
  width: 85%; }

.bar-postgresql {
  width: 80%; }

.bar-mongodb {
  width: 80%; }

.footer {
  background-color: #19456b;
  color: #eeeeee;
  text-align: center; }
  .footer--title {
    font-size: 2.5rem; }
  .footer--description {
    font-size: 1.5rem;
    margin-bottom: 2rem; }
  .footer--social {
    margin-bottom: 1rem; }
  .footer--link {
    display: inline-flex;
    background-color: #19456b;
    color: #487e95;
    font-size: 1.1rem;
    border-radius: 50%;
    padding: 0.4rem;
    margin: 0 1rem;
    transition: 0.3s; }
    .footer--link:hover {
      background-color: #487e95;
      color: #19456b; }
  .footer--icon {
    width: 3rem;
    height: 3rem; }
  .footer--copy {
    font-size: 1.3rem;
    color: #eeeeee; }

.main {
  display: grid;
  margin-top: 7rem;
  column-gap: 3rem; }

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
  z-index: 1000; }

.navigation {
  display: flex;
  padding: 0.5rem 2rem;
  background-color: #e2e2e2;
  flex-wrap: wrap; }
  .navigation__nav--checkbox {
    display: none; }
  .navigation__nav--button {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    z-index: 2000;
    text-align: center;
    cursor: pointer;
    margin-left: auto;
    order: 2; }
    @media only screen and (min-width: 710px) {
      .navigation__nav--button {
        height: 0;
        display: none; } }
  .navigation__nav--icon {
    position: relative;
    margin-top: 1.5rem; }
    .navigation__nav--icon, .navigation__nav--icon::before, .navigation__nav--icon::after {
      width: 2.5rem;
      height: 2px;
      background-color: #23120b;
      display: inline-block; }
    .navigation__nav--icon::before, .navigation__nav--icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s; }
    .navigation__nav--icon::before {
      top: -0.7rem; }
    .navigation__nav--icon::after {
      top: 0.7em; }
  .navigation__nav--button:hover .navigation__nav--icon::before {
    top: -0.9rem; }
  .navigation__nav--button:hover .navigation__nav--icon::after {
    top: 0.9rem; }
  .navigation__nav--checkbox:checked + .navigation__nav--button .navigation__nav--icon {
    background-color: transparent; }
  .navigation__nav--checkbox:checked + .navigation__nav--button .navigation__nav--icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__nav--checkbox:checked + .navigation__nav--button .navigation__nav--icon::after {
    top: 0;
    transform: rotate(-135deg); }
  .navigation__nav--checkbox:checked ~ .navigation__nav-menu {
    display: flex;
    flex-direction: column;
    width: 100vw;
    font-size: 2rem; }
  .navigation__logo-link {
    align-self: center;
    justify-self: center;
    color: #19456b;
    font-size: 1.3rem;
    order: 1;
    transition: all 0.2s; }
    @media only screen and (max-width: 900px) {
      .navigation__logo-link {
        font-size: 1rem; } }
  .navigation__nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: 1rem;
    order: 3; }
    @media only screen and (max-width: 710px) {
      .navigation__nav-menu {
        display: none; } }
    .navigation__nav-menu--item {
      margin: 0 1rem; }
    .navigation__nav-menu--link {
      font-size: 1.8rem;
      transition: all 0.2s; }
      .navigation__nav-menu--link:visited, .navigation__nav-menu--link:link {
        color: #23120b; }
      @media only screen and (max-width: 900px) {
        .navigation__nav-menu--link {
          font-size: 1.6rem; } }
      .navigation__nav-menu--link:hover {
        color: #487e95; }
