@import "/src/Sass/abstracts.scss";

.home {
  height: 75vh;
  transition: all 0.2s;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  @include respond-max(1330px) {
    display: inline-block;
  }
}
