@import '/src/Sass/abstracts.scss';

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  transition: all 0.2s;
  height: 75vh;
  margin: auto;

  @include respond-min(1100px) {
    flex-direction: row;
  }
}
