.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem 2rem;
  background-color: $color-grey-light;
  flex-wrap: wrap;

  &__nav {
    &--checkbox {
      display: none;
    }
    &--button {
      height: 3.5rem;
      width: 3.5rem;
      border-radius: 50%;
      z-index: 2000;
      text-align: center;
      cursor: pointer;
      margin-left: auto;
      order: 2;

      @include respond-min(710px) {
        height: 0;
        display: none;
      }
    }
    &--icon {
      position: relative;
      margin-top: 1.5rem;

      &,
      &::before,
      &::after {
        width: 2.5rem;
        height: 2px;
        background-color: $color-black;
        display: inline-block;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all 0.2s;
      }

      &::before {
        top: -0.7rem;
      }
      &::after {
        top: 0.7em;
      }
    }

    &--button:hover &--icon::before {
      top: -0.9rem;
    }

    &--button:hover &--icon::after {
      top: 0.9rem;
    }

    &--checkbox:checked + &--button &--icon {
      background-color: transparent;
    }

    &--checkbox:checked + &--button &--icon::before {
      top: 0;
      transform: rotate(135deg);
    }

    &--checkbox:checked + &--button &--icon::after {
      top: 0;
      transform: rotate(-135deg);
    }

    &--checkbox:checked ~ &-menu {
      display: flex;
      flex-direction: column;
      width: 100vw;
      font-size: 2rem;
    }
  }

  &__logo-link {
    color: $color-primary;
    font-size: 1.1rem;
    order: 1;

    transition: all 0.2s;
    @include respond-max(900px) {
      font-size: 0.8rem;
    }
  }

  &__nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: 1rem;
    order: 3;

    @include respond-max(710px) {
      display: none;
    }

    &--item {
      margin: 0 1rem;
    }

    &--link {
      font-size: 1.8rem;
      &:visited,
      &:link {
        color: $color-primary-light;
      }
      transition: all 0.2s;
      @include respond-max(900px) {
        font-size: 1.6rem;
      }
      &:hover {
        color: $color-secondary;
      }
    }
  }
}
