@import '/src/Sass/abstracts.scss';

.contact {
  &__card {
    width: 330px;
    height: 440px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: #e4e4e4;

    @include respond-max(420px) {
      width: 30rem;
      height: 35rem;
    }

    & > img {
      width: 25rem;
      @include respond-max(420px) {
        width: 190px;
      }
    }

    & > h3 {
      font-size: 2rem;
    }

    & > p {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }
    &--icon {
      width: 3rem;
      height: 3rem;
      padding-top: 1.1rem;
    }
  }
}