.section {
  padding-top: 3rem;
  padding-bottom: 2rem;

  &__title {
    position: relative;
    font-size: 2.6rem;
    color: var(--color-primary);
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    text-align: center;

    &::after {
      position: absolute;
      content: "";
      width: 64px;
      height: 0.18rem;
      left: 0;
      right: 0;
      margin: auto;
      top: 4rem;
      background-color: var(--color-primary);
    }
  }

  &__subtitle {
    display: block;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--color-black);
    text-align: center;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
  }
}
