@import "/src/Sass/abstracts.scss";

.navigation {
  &__nav-menu {
    &--item {
      margin: 0 1rem;
    }

    &--link {
      font-size: 1.8rem;
      &:visited,
      &:link {
        color: $color-black;
      }
      transition: all 0.2s;
      @include respond-max(900px) {
        font-size: 1.6rem;
      }
      &:hover {
        color: $color-primary-light;
      }
    }
  }
}